<style>
  .team-name {
    font-size: 16px; /* Размер шрифта */
    line-height: 1; /* Убираем лишний вертикальный интервал */
    margin: 0; /* Убираем отступы */
  }
  .team-container {
    display: flex; /* Выравниваем элементы в строку */
    align-items: center; /* Центрируем элементы по вертикали */
    gap: 8px; /* Расстояние между аватаром и текстом */
  }
</style>
<a href=" ">
  <span class="team-container">
    <span class="avatar avatar-sm" style="background-image: url('{{ team_logo }}');"></span>
    <span class="team-name">{{ team_name }}</span>
  </span>
</a>